flask
flask_login
flask-migrate
flask_wtf
sqlalchemy<2.0
flask-sqlalchemy==2.*
email_validator
python-decouple
gunicorn
sqliteJson
connexion[swagger-ui]==2.13.*
swagger-ui-bundle
click
sphinx
sphinx_rtd_theme